label.required:after {
    content: " *";
    color: red;
}

.redFields {
    color: red;
}

.icon-plus-circle, .icon-check-circle {
    color: green;
}

a:link, a:visited {
    text-decoration: none;
}