html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 7em;
}

label.required:after {
    content: " *";
    color: red;
}

.redFields {
    color: red;
}

.icon-plus-circle, .icon-check-circle {
    color: green;
}

a:link, a:visited {
    text-decoration: none;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #375A7F;
    color: white;
    text-align: center;
}