{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-5">Administration</h1>
  <p class="lead">Bonjour {{ app.user.username }}, voilà vos possibilités en tant que {% if app.user.roles[0] == 'ROLE_ADMIN' %} Administrateur {% else %} Super Administrateur {% endif %}:</p>
  <hr class="my-4">
  <div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Avantages</div>
    <div class="card-body">
      <h4 class="card-title">Droits</h4>
      <p class="card-text">Ajout de livres, modification de livres,{% if is_granted('ROLE_SUPER_ADMIN') %} supprimer un livre, {% endif %} création de news, modification de news{% if is_granted('ROLE_SUPER_ADMIN') %} supprimer une news{% endif %}.</p>
    </div>
  </div>
  {% if app.user.roles[0] == 'ROLE_ADMIN' %}
  <div class="card border-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Désavantages</div>
    <div class="card-body">
      <h4 class="card-title">Interdictions</h4>
      <p class="card-text">Vous ne pouvez supprimer un livre, même chose pour une news.</p>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
