{% extends 'base.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block body %}

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Id du membre</th>
            <th scope="col">Nom du membre</th>
        </tr>
    </thead>
    <tbody>

{% for user in user %}

{% if not(user.roles[0] == 'ROLE_ADMIN' or user.roles[0] == 'ROLE_SUPER_ADMIN') %}

        <tr class="table-dark">
            <th scope="row">{{ user.id }}</th>
            <td><a href="{{ path('profil_membre', {'id' : user.id, 'username' : user.username}) }}" class="text-primary">{{ user.username }}</a></td>
        </tr>

{% endif %}

{% endfor %}

    </tbody>
</table>

{% endblock %}