{% extends 'base.html.twig' %}

{% block body %}

<h1 class="display-5">Bienvenue sur ce site de gestion de livres !</h1>
{% if app.user %}
<a href="{{ path('profil_membre', {'id' : app.user.id, 'username' : app.user.username}) }}" class="btn btn-primary btn-sm mb-3">Mon profil</a>
<p>Bonjour {{ app.user.username }}, votre rôle est {{ app.user.roles[0] }}.</p>

{% endif %}

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, adipisci ipsum cum, iste debitis id iusto rerum officiis in deleniti alias amet totam minus minima assumenda saepe blanditiis, aspernatur numquam quod reprehenderit et accusantium. Perspiciatis
    incidunt numquam repellendus placeat dolorum!</p>
<p>Rerum voluptatibus eos, ipsam reprehenderit fugit tempora nihil odit aliquid aut sunt harum, ullam, illo ipsa voluptate officia deleniti esse corporis ab. Illum tempore nemo nisi aliquam ex sunt eos reiciendis maiores explicabo perspiciatis accusantium
    corporis impedit, cupiditate blanditiis laudantium.</p>

{% endblock %}