{% extends 'base.html.twig' %}

{% block body %}

<h1 class="display-5">Bienvenue sur ce site de gestion de livres !</h1>
{% if app.user %}
<a href="{{ path('profil_membre', {'id' : app.user.id, 'username' : app.user.username}) }}" class="btn btn-primary btn-sm mb-3">Mon profil</a>
<p>Bonjour {{ app.user.username }}, votre rôle est {{ app.user.roles[0] }}.</p>

{% endif %}
<div class="row pl-3">
    <div class="card text-white bg-primary mb-3 mr-3" style="max-width: 20rem;">
        <div class="card-header">Atout du site</div>
        <div class="card-body">
            <p class="card-text">Consultation de news, commentaires, inscription, votre collection de livres, profils publics.</p>
        </div>
    </div>
      
    <div class="card text-white bg-warning mb-3 mr-3" style="max-width: 20rem;">
        <div class="card-header">Les modérateurs</div>
        <div class="card-body">
            <p class="card-text">Les modérateurs peuvent éditer les news, les commentaires, les fiches des livres.</p>
        </div>
    </div>
    
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">Les super modérateurs</div>
        <div class="card-body">
            <p class="card-text">Les super modérateurs peuvent supprimer une news, les commentaires, les fiches des livres.</p>
        </div>
    </div>
</div>

{% endblock %}